.main-home {

    #hosting {
        @include p(20px 10px 60px);

        h1 {
            @include text(3rem, center);
            @include my(40px 10px);
        }
        
        p {
            @include text(1.5rem, center);
        }

        figure {
            @include size-container(100%);
            @include minmax-w(240px, 700px);
            @include mx(auto);

            img {
                @include size-container(100%)
            }
            
        }
    }

    #performances {
        @include minmax-h(500px);
        @include bg(no, $linear-harlequin);
        @include p(150px 10px);
        clip-path: $clip-path-performances;

        .cards {
            @include flex(40px, no, wrap, center, center);

            article{
                @include size-container(30%);
                @include minmax-w(260px);
                @include text(1rem, center);

                h3 {
                    @include text(1.7rem);
                }

                h4 {
                    @include size-container(50%);
                    @include text(1.4rem);
                    @include mx(auto);
                }

                p {
                    @include text(1.1rem);
                }

            }
        }
    }

    #faq {
        @include p(60px 10px);

        .dropdowns {
            @include minmax-w(240px, 600px);
            @include mx(auto);
            @include flex(20px, column);

            details {
                border-radius: 10px;
                overflow: hidden;

                summary {
                    @include bg($color-white);
                    @include flex(10px, no, no, between, center);
                    @include p(10px);
                    @include text(1.5rem);
                    cursor: pointer;
                }
    
                .content {
                    @include p(20px 10px);
                    @include flex(5px, column);

                    h3 {
                        @include text(1.4rem);
                    }

                    p {
                        line-height: 1.5;
                        @include text(1.2rem);
                    }
                }
    
    
            }
            img {
                @include size-container(25px);
            }
        }
        
    }

    #satisfaction {
        @include bg(no, $linear-harlequin);
        clip-path: $clip-path-satisfaction;
        @include p(150px 10px);
    }
}