@mixin flex($gap: 0, $direction:row, $justify: default, $items: default) {
    display: flex;
    flex-direction: $direction;
    gap: $gap;
    justify-content: map-get(
        (
            start: flex-start,
            end: flex-end,
            center: center,
            between: space-between,
            around: space-around,
            evenly: space-evenly,
            default: initial
        )
        , $justify
    );
    
    align-items: map-get(
        (
            start: flex-start,
            end: flex-end,
            center: center,
            default: stretch
        )
        , $items
    );
}

@mixin size-container($width: auto, $height: none) {
    width: $width;
    @if $height != none {height: $height;}
}

@mixin minmax-w($min: auto, $max: none) {
    min-width: $min;
    @if $max != none {max-width: $max;}
}

@mixin minmax-h($min: auto, $max: none) {
    min-height: $min;
    @if $max != none {max-height: $max;}
}

@mixin bg($color: none, $imageorlinear: none) {
    @if $color != none {
        background: $color;
    } @else if $imageorlinear != none {
        background: $imageorlinear;
    }
}

// Margin
@mixin m($m:0) { margin: $m; }
@mixin mt($mt:0) { margin-top: $mt; }
@mixin mb($mb:0) { margin-bottom: $mb; }
@mixin ms($ms:0) { margin-left: $ms; }
@mixin me($me:0) { margin-right: $me; }
@mixin mx($mx:0) { margin-inline: $mx; }
@mixin my($my:0) { margin-block: $my; }

// Padding
@mixin p($p:0) { padding: $p; }
@mixin pt($pt:0) { padding-top: $pt; }
@mixin pb($pb:0) { padding-bottom: $pb; }
@mixin ps($ps:0) { padding-left: $ps; }
@mixin pe($pe:0) { padding-right: $pe; }
@mixin px($px:0) { padding-inline: $px; }
@mixin py($py:0) { padding-block: $py; }

//Font
@mixin text($size: 1rem, $align: none, $weight: none, $style: none ) {
    font-size: $size;
    @if $weight != none { font-weight: $weight }
    @if $style != none { font-style: $style; }
    @if $align != none { text-align: $align; }
}