@media (min-width: 715px) {
    header {
        @include flex(10px, row, center, center);
        @include px(20px);
        border: none;

        a {
            @include size-container(auto, auto);
        }

        nav {
            flex-grow: 1;
            @include pb(0);
            @include flex(20px, row, default, center);
            border-bottom: none;
            
            a:first-of-type {
                @include ms(auto);
            }

            a {
                @include size-container(auto, auto);
                @include text(1.3rem); 
            }

            [href="/trial"] {
                @include size-container(auto, 50px);
                @include px(10px);
                @include ms(auto);
                @include bg(none, $linear-trial);
                border-radius: 15px;
                color: $color-white;
            
                &::after {
                    @include size-container(auto, auto);
                }

                &:hover {
                    @include bg(none, $linear-trial-hover);
                    box-shadow: inset 0 0 5px $color-black;
                }
                

            }
        }
    }

    .main-home {
        #performances, #faq, #satisfaction {
            h2 {
                @include text(3.5rem);
            }
        }

        #performances {
            @include py(170px);

            .cards {
                article {
                    h3 {
                        @include text(2.5rem);
                    }
    
                    h4 {
                        @include size-container(50%);
                        @include text(1.7rem);
                        @include mx(auto);
                    }
    
                    p {
                        @include text(1.3rem);
                    }
                }
            }
        }
    }
}